@font-face {
  font-family: "GT-Zirkon-Ultra-Light";
  src: url("GT-Zirkon-Ultra-Light.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Zirkon-Ultra-Light-Italic";
  src: url("GT-Zirkon-Ultra-Light-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Zirkon-Thin";
  src: url("GT-Zirkon-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Zirkon-Thin-Italic";
  src: url("GT-Zirkon-Thin-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Zirkon-Light";
  src: url("GT-Zirkon-Light.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Zirkon-Light-Italic";
  src: url("GT-Zirkon-Light-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Zirkon-Book";
  src: url("GT-Zirkon-Book.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Zirkon-Book-Italic";
  src: url("GT-Zirkon-Book-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Zirkon-Regular";
  src: url("GT-Zirkon-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Zirkon-Regular-Italic";
  src: url("GT-Zirkon-Regular-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Zirkon-Medium";
  src: url("GT-Zirkon-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Zirkon-Medium-Italic";
  src: url("GT-Zirkon-Medium-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Zirkon-Bold";
  src: url("GT-Zirkon-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Zirkon-Bold-Italic";
  src: url("GT-Zirkon-Bold-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Zirkon-Black";
  src: url("GT-Zirkon-Black.woff2") format("woff2");
}

@font-face {
  font-family: "GT-Zirkon-Black-Italic";
  src: url("GT-Zirkon-Black-Italic.woff2") format("woff2");
}
